$ff:  'Montserrat', sans-serif;
body{
	font-family: $ff;
	
}

.head1{
	width:100%;
	height:auto;
	background:url(/img/1.png) no-repeat center center;
	background-size: cover;
}

nav{


 		li{

 			a{
 				color:white;
 				font-family: $ff;
 				font-size:15px;
 				line-height: 22px;
 				

 			
 			}
 			a:hover{
 				color:white;
 				border:1px solid #130e27;
 				background-color: #130e27;
 				border-radius:4px;
 			}
 		}

}

.heellow{


}
.yyyy1{

	margin-top:100px;

}
.yyyy1{
	p{
	
			font-family: $ff;
			font-size:90px;
			font-weight: 900;
			line-height: 80px	
		}
}

.blind {
  width:350px;
  height: 480px;
  background-color: white;
  margin-bottom: -90px; 
  margin-top:100px;
  box-shadow:-2px 0px 50px gray;
  border-radius: 5px;
  border:none;



}
  
 .text{
 	font-size:18px;
 	line-height: 28px; 
 	color:white;
 	font-family: $ff;
 }
 .hellomom{
 	font-family: $ff;
 	font-size:19px;
 	line-height: auto;
 	text-align: center;
 	padding-top:30px;
 }

.yyyt12{
	padding-top:20px;
	input{
		font-family: $ff;
		width:300px;
		height:47px;	
		background-color: rgb(237, 237, 237);
		border-radius: 9px;
		font-size:14px;
		line-height: 25px;
		font-weight: 300;
		border:none;



	}
}
.uterp{
	font-family: $ff;
	font-size: 17px;
	text-align: center;

}

.ttt125{
	margin-top: 60px;
	p{
		text-align: center;
		font-family: $ff;
		font-size:17px;
		color:#161616;
		line-height: 28px;
	}
}
.bg2{
	background: #14273c;
	margin-top:50px;
}
.bg3{
	margin-top:50px;

}
.eeq{
	margin-top:50px;
}
.rrre2{
	margin-top:150px;
}
.eqqt421s{
	margin-top:50px;
}
.la2{
	padding-left:60px;
	margin-top:50px;
}
.ewq{
	div{
		img{
			padding-left:10px;
		}
	}
}
.ewq1 {
	div{
		img{
			padding-right: 10px;
		}
	}
}
.ewq1{
	margin-top: 5px;
}
.pre:hover{
	color:black;
}
.pre{
	color:black;
	text-decoration:underline;
}